
#Mininet-related folders
oflops/
oftest/
openflow/
pox/
MiniNet/

#Program folders
outputs/
outputs_old/

#Other file types to ignore
*.pyc
*.png
*.log
*.pkl

#Experimental code
workloads.py
sendflow.py
